*{
    margin:0;
    padding:0;
}
.container{
width:100%;
}
.playlistContainer{

    float: left;
    width:30%;
}
.videoContainer{
    width: 65%;
    float: right;
    height:90vh;
        margin-top: 16px;
       border: solid 14px #8383de
}